<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/form.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
  <div class="alert" id="feedback">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  QR Code Generated. Download and add to product.
</div>
    <div class="title">Generate QR Code</div>
    <div class="content">
      <form action="/generate" method="post" id="qrform">
        <div class="user-details">
          <div class="input-box">
            <label for="company_id" class="details">Company ID</label>
            <!-- <input type="text" placeholder="Enter company ID" required> -->
            <!-- <label for ="CID" class="details">Company ID</label> -->
            <!-- yo  iske neeche tereko sare option dalna padega....db se integra-->
            <select id="company_id" name="company_id" class="Cid">
              <option value="" selected disabled hidden>Enter company ID</option>
              <% for(const c of companies) { %>
              <option value="<%= c.name %>"><%= c.id %></option>
              <%}%>
            </select>
          </div>

          <div class="input-box">
            <label for="company_name" class="details">Company Name</label>
            <input id="company_name" type="text" name="company_name" placeholder="Enter company name" readonly>
          </div>

          <div class="input-box">
            <label for="product_name" class="details">Product name</label>
            <input id="product_name" type="text" name="product_name" placeholder="Enter the product name" required>
          </div>

          <div class="input-box">
            <label for="product_id" class="details">Product ID</label>
            <input id="product_id" type="text" name="product_id" autocomplete="off" placeholder="Enter Product ID" required>
          </div>

          <div class="input-box" class="loc">
            <label for="location" class="details">Product Location</label>
            <input id="location" type="text" name="location" placeholder="Enter the product Location" required>


        </div>

        <div class="button">
          <input type="submit" value="Generate" id="submitbtn">
        </div>
      </form>
    </div>
  </div>

</body>
<script>
var mytextbox = document.getElementById('company_name');
var mydropdown = document.getElementById('company_id');
var submitbtn = document.getElementById('submitbtn');
var fdbk = document.getElementById('feedback');
var frm = document.getElementById('qrform');

mydropdown.onchange = function(){
     mytextbox.value = this.value;
}

submitbtn.onclick = function() {
   frm.submit(); // Submit the form
   frm.reset();  // Reset all form data
   fdbk.style.display = "block"
   return false;
}

</script>
</html>